<h1>Barcha e'lonlar</h1>
{% if user.is_authenticated %}
<a href="{% url 'add_advertisement' %}">E'lon qo'shish</a>
<a href="{% url 'favorite_advertisements' %}">Saqlangan e'lonlar</a>
<a href="{% url 'cart' %}">Savatcha</a>
<a href="{% url 'orders' %}">Buyurtmalarim</a>
<a href="{% url 'profile' %}">Kabinet</a>
<a href="{% url 'logout' %}">Chiqish</a>
{% else %}
<a href="{% url 'login' %}">Kirish</a>
{% endif %}

{% for ad in page %}
<h2>{{ ad.title }}</h2>
<p>{{ ad.price }}</p>
<p>{{ ad.owner.username }}</p>
{% if ad.image %}
<img src="{{ ad.image.url }}" width="200">
{% endif %}
<a href="{% url 'advertisement_detail' ad.id %}">Batafsil</a>
<a href="{% url 'to_cart' ad.id 'add' %}">🛒 Savatga</a>
{% if user.is_authenticated %}
<a href="{% url 'favorite_advertisement' ad.id %}">
    {% if user in ad.favorites.all %}
        <span style="color: green;">★ Saqlangan</span>
    {% else %}
        ☆ Saqlash
    {% endif %}
</a>
{% endif %}
{% if user == ad.owner or user.is_superuser %}
<a href="{% url 'edit_advertisement' ad.id %}">Tahrirlash</a>
<a href="{% url 'delete_advertisement' ad.id %}">O'chirish</a>
{% endif %}
<hr>
{% endfor %}

{% if page.has_previous %}
<a href="?page={{ page.previous_page_number }}">← Oldingi</a>
{% endif %}

<span>{{ page.number }} / {{ page.paginator.num_pages }}</span>

{% if page.has_next %}
<a href="?page={{ page.next_page_number }}">Keyingi →</a>
{% endif %}

